PyQt5>=5.15.0
PyQt5-Qt5>=5.15.0
PyQt5-sip>=12.0.0
watchdog>=3.0.0
Pillow>=9.0.0
pywin32>=306; sys_platform == 'win32'
pynput>=1.7.6
mss>=9.0.0
sounddevice>=0.4.6
soundfile>=0.12.1
numpy>=1.24.0
opencv-python>=4.7.0
send2trash>=1.8.2
